.app {
  margin: 20px 50px;
}

.search-box {
  margin-bottom: 20px;
}

.order-button {
  margin-bottom: 20px;
}

.button-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
}
